.TermsConditions .TermsIcon {
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
    color: #000000;
}

.TermsConditions h1 {
    margin: 30px;
    width: 700px !important;
    line-height: 70px;
    margin-left: 70px !important;
    text-transform: capitalize;
}


.TermsConditions img {
    width: 1300px;
    margin: 100px;
}