.Learning {
    background: #F5F4F9;
    padding: 100px;
}


.LearningImgOne {
    width: 600px;
    height: 650px;
    margin-top: 20px;
    border-radius: 10px;
    transition: linear .5s;
}

.LearningImgOne:hover {
    background: #000000;
    cursor: pointer;
    box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(57, 27, 193) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(74, 19, 255) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(136, 85, 255) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(85, 116, 255) 40px -40px;
    opacity: .9;
}






.LearningText {
    text-align: left;
    margin-left: 100px;
}

.LearningText h1 {
    font-size: 47px;
    font-weight: 700;
    font-family: sans-serif;
    color: #0021A7;
    width: 480px;
    text-transform: capitalize;
    margin-bottom: 30px;
    margin-top: 50px;
    text-align: left;
}


.LearningText p {
    font-size: 24px;
    font-weight: 400;
    font-family: sans-serif;
    color: #000000;
    width: 480px;
    text-transform: capitalize;
    margin-bottom: 30px;
    margin-top: 50px;
}

.LearningText .Button {
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    font-family: sans-serif;
    color: #0021A7;
}