.Gellary{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 180px;
    margin: 50px;
    text-align: center;
    margin-bottom: 100px;
    
}


.Gellary-img:hover {
    background: #001b30;
    cursor: pointer;
    padding: 0px;
    margin: 0px;

}



.Gellary-img {
    width: 300px;
    height: 305px;
    padding: 20px;
    box-shadow: rgb(0 0 0 / 3%) 0px 5px 15px;
    border-radius: 10px;
    transition: linear .4s;
}
